.header__lang-link {
  padding-top: 18px;
  padding-bottom: 6px;
  padding-right: 18px;
  padding-left: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Inter", "Arial", "Helvetica", "sens-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 117%;
  text-align: right;
  color: #ffffff;
}
.header__lang-link:last-of-type {
  padding-right: 0px;
}
.header__lang-link:hover {
  opacity: 0.8;
}
@media screen and (max-width: 320px) {
  .header__lang-link {
    max-width: 22px;
    font-size: 18px;
    line-height: 111%;
  }
}
