.header__lang-link {
  padding-top: 18px;
  padding-bottom: 6px;
  padding-right: 18px;
  padding-left: 0;
  margin: 0;
  color: #ffffff;
  text-decoration: none;
}
.header__lang-link:last-of-type {
  padding-right: 0px;
}
@media screen and (max-width: 320px) {
  .header__lang-link {
    max-width: 22px;
  }
}
