.places {
  margin: 0 auto;
  max-width: 984px;
  padding: 92px 48px 92px 48px;
}

@media screen and (max-width: 768px) {
  .places {
    padding: 88px 24px 90px 24px;
  }
}
@media screen and (max-width: 425px) {
  .places {
    padding: 0 0 66px 0;
  }
}
