.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
  margin: 0 auto;
  padding-bottom: 80px;
}
.place:last-of-type {
  padding-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 1fr 1fr;
    gap: 48px 32px;
  }
}
@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 1fr 1fr;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 622px) {
  .place {
    grid-template-columns: 1fr;
    gap: 48px 10px;
  }
}

@media screen and (max-width: 425px) {
  .place {
    grid-template-columns: 1fr;
    gap: 32px;
    padding-bottom: 50px;
  }
}
