.intro__list {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #ffffff;
  list-style-type: none;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}
