.cover__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: #ffffff;
  max-width: 360px;
  margin: 0 auto;
  padding: 0 0 245px 0;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 122%;
    padding: 0 0 245px 0;
    max-width: 288px;
  }
}
@media screen and (max-width: 425px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 114%;
    padding: 0 16px 33px 16px;
    max-width: 288px;
  }
}
