.place__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 110%;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    font-size: 32px;
    line-height: 109%;
    padding: 0 16px 0 16px;
  }
}
