.lead__title {
  font-family: "Inter", "Arial", "Helvetica", "sens-serif";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  padding: 0 0 32px 0;
  max-width: 720px;
}
@media screen and (max-width: 768px) {
  .lead__title {
    max-width: 720px;
    font-size: 96px;
    line-height: 104%;
    padding: 0 24px 32px 24px;
  }
}
@media screen and (max-width: 720px) {
  .lead__title {
    max-width: 720px;
    font-size: 40px;
    line-height: 110%;
    padding: 0 24px 32px 24px;
  }
}
@media screen and (max-width: 425px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 110%;
    padding: 0 0 16px 0;
  }
}
