.header__lang-link_ru {
  padding-top: 18px;
  padding-bottom: 6px;
  padding-right: 18px;
  margin-left: 0;
}
@media screen and(max-width:320px) {
  .header__lang-link_ru {
    max-width: 22px;
  }
}
