.page {
  background: #2a2c2f;
  max-width: 1280px;
  font-family: "Inter", "Arial", "Helvetica", "sens-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0 auto;
}
