.place__link {
  font-family: "Inter", "Arial", "Helvetica", "sens-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-decoration-line: underline;
  color: #ffffff;
  opacity: 1;
}
.place__link:hover {
  opacity: 0.8;
}
@media screen and (max-width: 425px) {
  .place__link {
    padding: 0 16px 0 16px;
  }
}
