.place__url-heading {
  font-family: "Inter", "Arial", "Helvetica", "sens-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  color: #aaaaaa;
  margin: 0;
  padding-bottom: 12px;
}
@media screen and (max-width: 768px) {
  .place__url-heading {
    line-height: 100%;
  }
}
@media screen and (max-width: 425px) {
  .place__url-heading {
    padding: 0 16px 0 16px;
  }
}
