.intro__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
  margin: 0 auto;
  color: #ffffff;
  padding-bottom: 40px;
  width: 100%;
}
@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 109%;
  }
}
